<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Associated Domains - Universal Links -->
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:birdkingdom.xyz</string>
        <string>webcredentials:birdkingdom.xyz</string>
    </array>
</dict>
</plist>
